---
import { ViewTransitions } from 'astro:transitions'
import Main from '../../components/Main.astro'
import Layout from '../../layouts/Layout.astro'
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon'
---

<Layout title="Contact">
  <Main>
    <article>
      <div class="flex justify-between items-center">
        <h1
          class="mb-4 text-4xl font-bold transition-colors duration-500"
          transition:name="title/contact"
        >
          Contacts
        </h1>
        <a
          href="/"
          class="px-2 pt-0 pb-1 bg-[#23262d] opacity-80 hover:opacity-100 transition-opacity duration-500 text-white text-xl font-semibold rounded"
        >
          back
        </a>
      </div>
      <p>
        These are playlist that I've made exclusively for developers during
        their coding sessions. Just an amateur DJ here...
      </p>
      <Image
        src="https://images.unsplash.com/photo-1557180295-76eee20ae8aa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjV8fHBob25lfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"
        alt="contact"
        width={50}
        height={50}
        class="w-64 mx-auto my-16 p-4 aspect-square bg-white"
        transition:name="Contacts"
      />
    </article>
    <article class="flex flex-col gap-y-2">
      <a
        href="https://augustosasso.vercel.app/"
        target="_blank"
        class="w-fit flex items-center gap-4 hover:text-[#BBB] transition-colors duration-500"
      >
        <Icon name="carbon:portfolio" class="w-12" />
        <h4 class="text-xl font-semibold">Portfolio</h4>
      </a>
      <a
        href="https://www.linkedin.com/in/augusto-sasso/"
        target="_blank"
        class="w-fit flex items-center gap-4 hover:text-[#0073B2] transition-colors duration-500"
      >
        <Icon name="mdi:linkedin" class="w-12" />
        <h4 class="text-xl font-semibold">LinkedIn</h4>
      </a>
      <a
        href="https://www.linkedin.com/in/augusto-sasso/"
        target="_blank"
        class="w-fit flex items-center gap-4 hover:text-[#BBB] transition-colors duration-500"
      >
        <Icon name="mdi:github" class="w-12" />
        <h4 class="text-xl font-semibold">GitHub</h4>
      </a>
      <a
        href="mailto:augustosasso97@gmail.com"
        target="_blank"
        class="w-fit flex items-center gap-4 hover:text-[#E94333] transition-colors duration-500"
      >
        <Icon name="mdi:gmail" class="w-12" />
        <h4 class="text-xl font-semibold">Gmail</h4>
      </a>
    </article>
    <ViewTransitions />
  </Main>
</Layout>
