---
import Input from '../components/Input'
import Layout from '../layouts/Layout.astro'
import { ViewTransitions } from 'astro:transitions'
---

<Layout title="Astro 3.0">
  <main class="max-w-[80ch] mx-auto my-32">
    <h1 class="mb-4 text-4xl font-bold" transition:name="title">
      Hello to Astro 3.0!
    </h1>
    <p class="mb-6">
      Exited to build new stuff with these cool transitions. Companies should
      really embrace these technologies as programmers do. If programmers tell
      you this framework is good, they know their stuff 🔥
    </p>
    <article>
      <Input client:visible />
    </article>
  </main>
  <ViewTransitions />
</Layout>
